{% extends "main.html"%}

{%block content%}
    <p></p>
    <h2>{{action}}</h2>  
    <div class="left_content">
        <form method="post">{% csrf_token%}
            {{form.as_p}}<p>
                <input style="float: left; margin-left: 220px" type="submit" method = "post" value="Submit" onclick="parent.location='{{path2}}'">
                <input style="float: left;"  type="button" value="Cancel" onclick="parent.location='/'">
        </form>
                {%if flag == 2%}
                    <input style="float: left; margin-left: 35px"  type="button" value="{{tag}}" onclick="parent.location='{{path}}'">
                {%endif%}

                </p>


    </div>
{%endblock %}



