{% extends "main.html" %}

    {% block content %}
<span   vocab="http://schema.org/"    typeof="VideoGame">  
  <h1> 
  
    
  

        <p></p>
        <h1>{{pageTitle}} <span property="name">{{name}}</span> </h1>
            <p>DATE: &nbsp{{date}}</p>  
            <p>TYPE:&nbsp{%for t in type%}<a href=/type/{{t}}>{{t}}</a>&nbsp{%endfor%}</p>
            <p>PLATFORM:&nbsp{%for p in platform%}{{p}}&nbsp{%endfor%}</p>
            <p>PUBLISHER:&nbsp <a href=/company/{{company|urlencode}}>{{company}}</a></p>
            <p></p>
            <hr style="width: 830px; float: left; margin-left: 32px">
                <p><h3>{{COMMENTS}}</h3></p>
        {% for x in reviews %}
            <p span rel="Review" typeof="User_Review">#
                <span property="ID">{{x.id}}</span>
                <span property="USER"> {{x.user}}</span>  
                {{x.date}}
                {% if user.username == x.user%}
                    <INPUT  style="float: right; margin-right: 40px" VALUE= "EDIT" type="button" onClick="parent.location='/review/edit{{path}}/{{x.Rid}}'">
                    <INPUT style="float: right" VALUE= "DELETE" type="button" onClick="parent.location='/review/delete{{path}}/{{x.Rid}}'">
                {% endif%}
            <p>Rate: [ <span property="RATE"> {{x.rate}}</span>/5 ]</p>
            <p> <span property="COMMENT"> {{x.Comment}}<span> </p> 
            <p>  From : [<span property="FROM">{{x.city}}</span>]</p>
            <hr style="width: 830px; float: left; margin-left: 32px">

        {% endfor %}
        <FORM>
            <INPUT VALUE= "ADD REVIEW" type="button" onClick="parent.location='/review/add{{path}}'">
        </FORM>
    {% endblock content %}