{% extends "main.html" %}

    {% block content %}
        </p>
        <div class=left_content">
        <p><h2>{{Title}}</h2></p>
        {% for item in result %}
        <p>{{item}}
                {% empty %}
        <li> No elements added yet.</li>
        </div>
        <div class=right_content">
        {% endfor %}
        <p></p>
            {% for type in TYPE%}
                {% for x in type%}
                <a href=/{{x|urlencode}}/{{item|urlencode}}>{{x}}</a>
                {%endfor%}
                <p></p>
            {% endfor %}
        </div>
</div>


    {% endblock %}