
{% extends "main.html"%}
j
{%block content%}
    <p></p>
    <h2>{{action}}</h2>  
    <div class="left_content">
        <form action="{{path2}}" method="post">
            <h3> INSTRUCTIONS</h3>
            <p>To add a game properly, first you have to add a company. if it doesn't exist
            <p>Add company [Publisher] <input style="float: left;"  type="submit" value="ADD" onclick="parent.location='/{{path}}/addElem/addCompany'">
            <p>Add game <input style="float: left;"  type="submit" value="ADD" onclick="parent.location='/{{path}}/addElem/addGame'">
            <p>Add game to each supported platform <input style="float: left;"  type="submit" value="ADD" onclick="parent.location='/{{path}}/addElem/addGameToPlat'">
            <p><input style="float: left;"  type="submit" value="Finish" onclick="parent.location='/{{path}}'">
            <input style="float: left;"  type="submit" value="Cancel" onclick="parent.location='/{{path}}'">
        </form>
    </div>
{%endblock %}
