{% extends "main.html" %}
{% block head%}
 <title>GamesDB - {{TYPE}} </title>
{% endblock%}
    {% block content %}
        </p>
        <h2>{{Title}}</h2>
        <hr style="width: 275px; float: left; margin-left: 32px"><p>
            <p>Release Date: {{Date}} </p>
            <p>Made by: {{Made}} (Set up at:{{set}})</p>
        <hr style="width: 275px; float: left; margin-left: 32px"><p>
        <p><input style="float: left; margin-left: 35px" type="submit" value="ADD GAME" onclick="parent.location='addGame'"></p>
        <p></p>
        <p></p>
        {% for item in result %}


            <p><a href=/{{TYPE|urlencode}}/{{item.game.name|urlencode}}>{{item.game.name}}</a>
            <input style="margin-left: 35px" type="submit" value="DELETE" onclick="parent.location='deleteGame/{{TYPE}}/{{item.game.name}}'">
            <p></p>
        {% endfor %}

    {% endblock %}